@import '../../mixin';

.tool-wrap {
    flex: none;
    display: flex;
    align-items: center;
}

.less {
    width: 50rpx;
    height: 50rpx;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1rpx solid $gray;
    color: $gray;
    text-align: center;
    line-height: 45rpx;
}

.num {
    width: 70rpx;
    text-align: center;
}

.add {
    width: 50rpx;
    height: 50rpx;
    border-radius: 50%;
    color: #fff;
    background-color: $theamColor;
    text-align: center;
    line-height: 45rpx;
}