@import '../../../mixin';

page {
    background-color: #f5f5f5;
}

.avatar-wrap {
    margin-bottom: -54rpx;
    padding: 30rpx 50rpx 60rpx;
    background-color: $theamColor;
}

.avatar-box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    .name {
        font-size: 40rpx;
    }
}

.avatar {
    width: 130rpx;
    height: 130rpx;
    border-radius: 50%;
    border: 4rpx solid #fff;
}

.my-item {
    display: flex;
    align-items: center;
    padding: 40rpx 30rpx;
    color: #222;
    font-size: 30rpx;
    border-bottom: 1rpx solid #efefef;

    &:last-child {
        border-bottom: 0;
    }

    .name {
        flex: 1;
        @include line-clip(1);
    }

    .right {
        flex: none;
        display: flex;
        align-items: center;
        color: $gray;
    }

    .btn-primary {
        height: 50rpx;
        padding: 0 20rpx;
        border-radius: 60rpx;
        font-size: 24rpx;
    }
}