@import '../../../../mixin';

page {
    background-color: #f5f5f5;
}

.time-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #222;
    font-size: 26rpx;
    padding: 20rpx;

    .tit {
        font-size: 30rpx;
        font-weight: bold;
    }

    .btn-plain {
        width: 250rpx;
        margin-left: 20rpx;
        height: 60rpx;
        border-radius: 8rpx;

        view {
            width: 200rpx;
            display: flex;
            justify-content: space-between;
        }
    }
}

.picker-wrap {
    display: flex;
}

.num-wrap {
    padding: 40rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30rpx;

    .left {
        flex: 1;
        min-width: 0;
    }

    .total {
        font-size: 32rpx;
        line-height: 40rpx;
        color: #222;
    }

    .date {
        margin-top: 16rpx;
        font-size: 26rpx;
        line-height: 26rpx;
        color: #999;
    }

    .right {
        flex: none;
        color: #222;
        font-size: 24rpx;
    }

    .num {
        font-size: 40rpx;
    }
}

.empty-wrap {
    top: 140rpx;
}

.disabled {
    view {
        opacity: 0.6;
    }
}